::selection {
    color: none;
    background: none;
}

body {
    background-color: #fffaae;
}

.board {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    table-layout: fixed;
    width: 420px;
    height: 420px;
    margin-bottom: 5px;
    border-collapse: collapse;
}

.menu {
    text-align: center;
    margin: 7px 7px;
}

.cell-light {
    text-align: center;
    line-height: 0;
    height: 20px;
    width: 20px;
    background: #bbbbbb;
    border: 2px solid #ccc;
}

.cell {
    font-size: 18px;
}

.cell:hover {
    cursor: pointer;
}

.cell:active {
    background: #c1c1c1;
    box-shadow: inset 0px 0px 5px #a7a5a5;
    outline: none;
}

.cell-dark {
    text-align: center;
    line-height: 0;
    height: 20px;
    width: 20px;
    background: white;
    border: 2px solid rgb(153, 151, 151);
}

.cell-dark:hover {
    cursor: pointer;
}

.cell-dark:active {
    background: #c1c1c1;
    box-shadow: inset 0px 0px 5px #a7a5a5;
    outline: none;
}

.best-score {
    text-align: center;
    margin: auto;
    font-family: monospace;
    margin-top: 40px;
}

.best-score td {
    border: 1px solid;
    padding: 15px;
}

.footer {
    text-align: center;
    height: 30px;
}

.header {
    text-align: center;
    display: inline;
    margin: 50px 0 4px 0;
}

.smiley {
    text-align: center;
    border: silver 1px solid;
    border-radius: 3px;
    font-size: 20px;
    padding: 6px;
    display: block;
    width: 28px;
    margin: auto;
    background-color: #ededed;
    margin-bottom: 7px;
}

.smiley:hover {
    cursor: pointer;
}

.smiley:active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.lives {
    position: absolute;
    left: 470px;
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    background-color: #dbe6c4;
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    color: #757d6f;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    height: 24px;
    padding-top: 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ced9bf;
}


@font-face {
    font-family: 'digital-clock';
    src: url('fonts/digital.regular.ttf')
}

.timer {
    font-family: 'digital-clock';
    font-size: 25px;
    position: absolute;
    right: 470px;
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    background-color: #dbe6c4;
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    color: #757d6f;
    font-weight: bold;
    padding: 2px 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ced9bf;
    width: 80px;
    height: 24px;
}

/* Helper classes */

.clicked {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 9px #c1c1c1;
    outline: none;
}

.clicked:hover {
    cursor: default;
}

.reveal {
    background-color: springgreen;
    opacity: 0.75;
}

.on-placing-hover {
    cursor: pointer;
    background-color: lightcoral;
    opacity: 0.75;
}

.on-hint-hover {
    cursor: pointer;
    background-color: springgreen;
    opacity: 0.75;
}

.mine-placed {
    cursor: default;
    background-color: springgreen;
}

.mine-placed:before {
    content: "💥";
}

.x-overlay {
    position: relative;
}

.x-overlay:after {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 5px;
    color: #ff0000;
    text-align: center;
}

.x-overlay:after {
    content: '\d7';
    font-size: 55px;
    font-weight: 100;
    line-height: 18px;
    opacity: 1.9;
}

.x-overlay-easy:after {
    top: 42%;
}

.x-overlay-medium:after {
    top: 30%;
}

/* (TO DO:) I realized jusy now that I dont need all the code copies, just change particular element 
by add another class to him and "run over" the default class like above */

/* btn generator */

.myButton {
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    background-color: #dbe6c4;
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    cursor: pointer;
    color: #757d6f;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ced9bf;
}

.myButton:hover {
    background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    background-color: #9ba892;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton:focus {
    outline: none;
}

.dark-mode-btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    color: #666666;
    text-shadow: 0px 1px 0px #ffffff;
}

.dark-mode-btn:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

/* The theme button itself */


.theme {
    position: absolute;
}

.theme:active {
    display: inline-block;
    position: absolute;
    top: 8px;
}
