body {
    background-color: #f2f4fb;
    color: black;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-align: center;
}

body.rtl {
    direction: rtl;
}

table {
    text-align: center;
    margin: auto;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 80% !important;
}

td {
    padding: 10px;
}

.sorter:hover {
    cursor: pointer;
    background-color: lightcoral
}

.book-title-td {
    width: 50%;
}

.page-btns {
    margin: 15px;
    text-align: center;
    direction: ltr;
}

input {
    transition: 0.3s;
}

input:focus {
    background-color: lightcyan;
}

.book-edit {
    color: ivory;
    background-color: #343a40;
    padding: 10px;
    margin: auto;
    border-radius: 3px;
    width: 70%;
}

input.form-control {
    margin: auto;
    width: 50%;
}

.book-price {
    width: 65px !important;
    display: inline-block;
    margin: 5px;
}

select.form-control:hover {
    border: 1px solid rgb(109, 172, 255);
    cursor: pointer;
}

.plus-rate, .minus-rate {
    display: inline-block;
    margin: 0 10px;
}

.modal img {
    width: 180px;
}

footer {
    margin: 0;
    margin-top: 15px;
    padding: 3px;
    font-size: 16px;
    bottom: 0;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    color: gold;
    text-decoration: underline;
}

footer p {
    margin: 0;
}

header {
    margin-top: 10%;
    ;
}

header img {
    width: 190px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -100;
    opacity: 0.6;
}

.book-price-modal {
    padding: 3px;
    border-radius: 3px;
    background-color: green;
    color: ivory;
}

.page-btns button {
    font-size: 35px;
    font-family: inherit;
    border: 0;
    padding: 0;
    width: 40px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.page-btns button:hover {
    cursor: pointer;
    color: #343a40;
}

.navbar-brand:hover {
    cursor: pointer;
}

.page-num {
    font-size: 24px;
}